extends layout

block content
  h1= title + '  '
    .tooltip
      svg(width="30px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" style="enable-background:new 0 0 1000 1000;" xml:space="preserve")
        g
          path(style="fill: #f6abb6;" class="public-spaces-bg-fill" d="M500,210.2c-74.5,0-144.6,28.7-197.3,80.9C250,343.3,221,412.7,221,486.5c0,73.8,29,143.2,81.7,195.3c52.7,52.2,122.8,80.9,197.3,80.9s144.6-28.7,197.3-80.9C750,629.7,779,560.3,779,486.5c0-73.8-29-143.2-81.7-195.4C644.7,238.9,574.5,210.2,500,210.2z M500,704.5c-121.4,0-220.3-97.7-220.3-218c0-120.2,98.8-218,220.3-218c121.4,0,220.3,97.8,220.3,218C720.3,606.7,621.5,704.5,500,704.5z M503.2,138.8c16.2,0,29.4-13,29.4-29.2V39.2c0-16.1-13.2-29.2-29.4-29.2c-16.2,0-29.5,13-29.5,29.2v70.5C473.8,125.8,487,138.8,503.2,138.8z M256,237.6c7.6,0,15.1-2.9,20.8-8.6c11.5-11.4,11.5-29.8,0-41.2l-50.3-49.9c-11.5-11.4-30.1-11.4-41.6,0c-11.5,11.4-11.5,29.8,0,41.2l50.3,49.8C240.9,234.7,248.4,237.6,256,237.6z M151.6,422.2H80.4c-16.2,0-29.5,13-29.5,29.2c0,16.1,13.2,29.2,29.5,29.2h71.2c16.2,0,29.5-13,29.5-29.2C181.1,435.3,167.9,422.2,151.6,422.2z M919.6,428.8h-71.2c-16.2,0-29.5,13-29.5,29.2c0,16.1,13.2,29.2,29.5,29.2h71.2c16.2,0,29.5-13,29.5-29.2C949.1,441.8,935.9,428.8,919.6,428.8z M748.8,242.2c7.6,0,15.1-2.9,20.8-8.5l50.3-49.9c11.5-11.4,11.5-29.8,0-41.2s-30.1-11.4-41.7,0l-50.4,49.9c-11.5,11.4-11.5,29.8,0,41.2C733.7,239.3,741.1,242.2,748.8,242.2z M608.7,820.9H391.4c-16.2,0-29.5,13.1-29.5,29.2s13.2,29.2,29.5,29.2h217.3c16.2,0,29.5-13,29.5-29.2C638.1,834,624.9,820.9,608.7,820.9z M569.4,931.6H430.7c-16.2,0-29.5,13-29.5,29.2c0,16.1,13.2,29.2,29.5,29.2h138.6c16.2,0,29.5-13.1,29.5-29.2C598.8,944.7,585.6,931.6,569.4,931.6z")
      span.tooltiptext Hey you know you are amazing! i am so proud of you!
      
  p Welcome to the simple vulnerable Node.js site with Express and MongoDB

  // Wrapper
  #wrapper

    // MY INFO
    #userInfo
      h2 My Info
      p
        strong Name:
        |  <span id='myInfoName'></span>
        br
        strong Age:
        |  <span id='myInfoAge'></span>
        br
        strong Credit Card:
        |  <span id='myInfoCard'></span>
        br
        strong Location:
        |  <span id='myInfoLocation'></span>
    // /MY INFO
    
    
    // USER LOGIN
    h2 Login
    #login 
      .userList
        fieldset
          input#loginUserName(type='text', placeholder='Username')
          input#loginPassword(type='text', placeholder='Password')
          br
          button#btnLogin Login
          button#btnLogout Logout
      // /USER LOGIN

    // MODIFY USER INFO
    #modifyList
      h2 Modify My Info
      .userList
        fieldset
          input#modifyPassword(type='text', placeholder='Password')
          input#modifyUserEmail(type='text', placeholder='Email')
          br
          input#modifyUserFullname(type='text', placeholder='Full Name')
          input#modifyUserAge(type='text', placeholder='Age')
          br
          input#modifyUserLocation(type='text', placeholder='Location')
          input#modifyUserCard(type='text', placeholder='Credit Card')
          br
          button#btnModify Modify
    // /MODIFY USER INFO

  // /WRAPPER