extends layout

block content
  h1= title
  p Welcome to the simple vulnerable Node.js site with Express and MongoDB

  // Wrapper
  #wrapper

    // MY INFO
    #userInfo
      h2 My Info
      p
        strong Name:
        |  <span id='myInfoName'></span>
        br
        strong Age:
        |  <span id='myInfoAge'></span>
        br
        strong Gender:
        |  <span id='myInfoGender'></span>
        br
        strong Location:
        |  <span id='myInfoLocation'></span>
    // /MY INFO

    // USER LOGIN
    #login 
      h2 Login
      .userList
        fieldset
          input#loginUserName(type='text', placeholder='Username')
          input#loginPassword(type='text', placeholder='Password')
          br
          button#btnLogin Login
          button#btnLogout Logout
      // /USER LOGIN

    // MODIFY USER INFO
    #modifyList
      h2 Modify My Info
      .userList
        fieldset
          input#modifyPassword(type='text', placeholder='Password')
          input#modifyUserEmail(type='text', placeholder='Email')
          br
          input#modifyUserFullname(type='text', placeholder='Full Name')
          input#modifyUserAge(type='text', placeholder='Age')
          br
          input#modifyUserLocation(type='text', placeholder='Location')
          input#modifyUserGender(type='text', placeholder='gender')
          br
          button#btnModify Modify
    // /MODIFY USER INFO

  // /WRAPPER