extends layout

block content
  h1= title
  p Welcome to the simple vulnerable Node.js site with Express and MongoDB

  // Wrapper
  #wrapper

    // MY INFO
    #userInfo
      h2 My Info
      p
        strong Name:
        |  <span id='myInfoName'></span>
        br
        strong Age:
        |  <span id='myInfoAge'></span>
        br
        strong Gender:
        |  <span id='myInfoGender'></span>
        br
        strong Location:
        |  <span id='myInfoLocation'></span>
    // /MY INFO

    // USER LOGIN
    #login
      h2 Login
      fieldset
        input#inputUserName(type='text', placeholder='Username')
        input#inputUserPassword(type='text', placeholder='Password')
        br
        button#btnLogin Login
    // /USER LOGIN

    // MODIFY USER INFO
    h2 Modify My Info
    #addUser
      fieldset
        input#inputUserName(type='text', placeholder='Username')
        input#inputUserEmail(type='text', placeholder='Email')
        br
        input#inputUserFullname(type='text', placeholder='Full Name')
        input#inputUserAge(type='text', placeholder='Age')
        br
        input#inputUserLocation(type='text', placeholder='Location')
        input#inputUserGender(type='text', placeholder='gender')
        br
        button#btnAddUser Modify
    // /MODIFY USER INFO

  // /WRAPPER