//- https://codepen.io/acupoftee/pen/YzzzYxj
doctype html
html.no-js
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    title
    |     
    meta(name='description', content='')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    link(rel='stylesheet', href='/stylesheets/pikachu.css')
  |   
  body
    .container
      ul.moon
        li.crater
        |           
        li.crater
        |           
        li.crater
      |         
      ul.mountain-range
        li.mountain
        |           
        li.mountain
        |           
        li.mountain
        |           
        li.mountain
        |           
        li.mountain
        |           
        li.mountain
        |           
        li.mountain
        |           
        li.mountain
        |           
        li.mountain
        |           
        li.mountain
        |           
        li.mountain
      |       
      ul.forest
        li.hill
        |         
        li.hill
        |         
        li.hill
      |       
      ul.sparkles
        li.sparkle.one
        |           
        li.sparkle.one
        |           
        li.sparkle.one
        |           
        li.sparkle.one
        |           
        li.sparkle.two
        |           
        li.sparkle.two
        |           
        li.sparkle.two
        |           
        li.sparkle.two
        |           
        li.sparkle.three
        |           
        li.sparkle.three
        |           
        li.sparkle.three
        |           
        li.sparkle.three
        |           
        li.sparkle.four
        |           
        li.sparkle.four
        |           
        li.sparkle.four
        |           
        li.sparkle.four
        |           
        li.sparkle.five
        |           
        li.sparkle.five
        |           
        li.sparkle.five
        |           
        li.sparkle.five
        |           
        li.sparkle.six
        |           
        li.sparkle.six
        |           
        li.sparkle.six
        |           
        li.sparkle.six
        |           
        li.sparkle.seven
        |           
        li.sparkle.seven
        |           
        li.sparkle.seven
        |           
        li.sparkle.seven
        |           
        li.sparkle.eight
        |           
        li.sparkle.eight
        |           
        li.sparkle.eight
        |           
        li.sparkle.eight
      |       
      .grass
        .pokemon
          #bulbasaur.poke
            .ear
            |             
            .ear
            |             
            .head
            |             
            .leg
            |             
            .bulba-body
            |             
            .bulbs
              .bulb
          |           
          #pikachu.poke
            .ear
            |             
            .ear
            |             
            .hand
            |             
            .pika-body
            |             
            .head
            |             
            .pika-tail
