/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #f6abb6;
    color: #fff;
    text-align: left;
    font-size: 12px;
    font-weight: lighter;
    padding: 5px 10px;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* move tooltip to the right */
.tooltip .tooltiptext {
    top: -10px;
    left: 105%;
}

/* add arrow */
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #f6abb6 transparent transparent;
}

/* add animation */
.tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}